page-datos-operadora-movistar {
    .startPage{
        text-align: center;
        background-image: url("../../assets/imgs/fondo con logo.png");
        background-size: 388px auto;
        color: #170c9f;
        font-weight: bold;
        
    }
    .item{
        background-color: transparent;
    }
    .content{
        padding-top: 250px;
    }
    .content-list{
        padding-left: 15px;
    }
    .text{
        font-size: 13px;
    }
}
